
*{
    /*font-family: 'Cinzel', serif;*/
    /*font-family: 'Cormorant Upright', serif;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quintessential', cursive;
    font-family: 'Redressed', cursive;
    /*font-family: 'Satisfy', cursive;*/
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /*background: url(images/Bground3.jpg);*/
    background-position: cover cover;
    background-blend-mode: var(--pinky);
    scroll-behavior: smooth;
}

html{
    font-size: 65.5%;
}

:root{
    --black:rgb(8, 8, 8);
    --background:rgba(7, 6, 6, 0.2);
    --cardbackground:rgba(7, 6, 6, 0.5);
    --footerBackground:rgba(2, 1, 2, 0.8);
    --formBackground:rgba(7, 6, 6, 0.9);
    --backgroundClose: rgba(245, 245, 250, 0.4);
    --white:#fff;
    --tag:rgba(30, 20, 20, 0.5);
    --blue:blue;
    --pinky:hotpink;
    --pink:rgba(123, 73, 123, 0.9);
    --pink1:rgba(123, 73, 123, 0.5);
    --pink2:rgba(123, 73, 123, 0.2);
    --box-shadow:0 5px 10px rgba(0,0,0.1);
    --box-shadow2:0 5px 10px hsl(0, 1%, 73%);
    --card-box-shadow: 0 10px 15px 5px rgba(92, 99, 105, 0.5);
    --light-color:hsla(166, 17%, 85%, 0.993);
    --icon:#ffff;
    --light-bg:#eee;
    --link: rgba(213, 173, 200, 0.5);
    --purple:purple;
    --contact:rgba(8, 176, 206, 0.9);
    --submit-btn:lightgreen;
    --normal-font-size:font-size: 1.8rem;
    --small-font-size:font-size: .75rem;
}

/*Styling navigation bar Menu*/

.navbar{
    height: 80px;
    padding: 0;
    width: 100%;
    background: var(--purple);
    z-index: 1000;
    box-shadow: var(--box-shadow2);
}

.navbar .nav-link{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.navbar .nav-link a{
    position: relative;
    padding: 10px;
    margin-right: 10px;
    font-size: 22px;
    font-family: 'Cormorant Upright', serif;
    color: var(--white);
}

.navbar .nav-link a:hover{
    background-color: var(--link);
    padding: 15px;
    transition: .5s ease-in;
    border-radius: 4px;
    color:var(--white);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

/*Navigation bar responsiveness. toggle button*/

.navbar #nav-check, .navbar .nav-btn{
    display: none;
}

/*DropDown Element*/
.dropBtn{
    padding:10px;
    background-color: transparent;
    border: none;
    margin-right: 5rem;
    font-size: 22px;
    font-family: 'Cormorant Upright', serif;
    color: var(--white);
    z-index: 1;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    transition: 5s all ease-in-out;
    box-shadow: var(--card-box-shadow);
    background-color: var(--pink);
    min-width:120px;
    z-index: 1;
    -webkit-transition: 5s all ease-in-out;
    -moz-transition: 5s all ease-in-out;
    -ms-transition: 5s all ease-in-out;
    -o-transition: 5s all ease-in-out;
}

.dropdown .dropdown-content> .links{
    color:var(--white);
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: var(--white);
    color: var(--black);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropBtn{
    background-color: var(--link);
    padding: 15px;
    transition: .5s ease-in;
    border-radius: 4px 4px 0 0;
    color:var(--white);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}
/*Buttons for Forms and User Private page*/
.navbar .icon {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: .8rem;
    gap: 10px;
}
.navbar .icon div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12px;
    height: 4rem;
    width: 4rem;
    line-height: 1rem;
    padding: 10px;
    background:var(--background);
    color:var(--white);
    font-size: 2.8rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.navbar .icon div:hover{
    color: var(--purple);
    background-color: var(--icon);
    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -ms-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
}

/*Privilege page for login and registration*/
.form-modal{
    display: none;
    position:fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:var(--tag);
    z-index: 1010;
    transition: 5s linear;
    -webkit-transition: 5s linear;
    -moz-transition: 5s linear;
    -ms-transition: 5s linear;
    -o-transition: 5s linear;
}

.regModal{
    display: none;
    position:fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:var(--tag);
    z-index: 1010;
}
.login p a{
    padding-left: 5px;
    color: darkorchid;
    text-decoration: underline;
}
.login p a:hover {
    color:darkgrey;
}
.register p a{
    padding-left: 5px;
    color: darkorchid;
    text-decoration: underline;
}

.register p a:hover{
    color:darkgrey;
}

#closeLogin{
    color: var(--white);
    font-size: 25px;
    width:30px;
    height: fit-content;
    position: absolute;
    text-align: center;
    top: 1.5%;
    right: 97%;
    border: .5px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#closeLogin:hover {
    background: var(--backgroundClose);
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: 3s ease-in-out;
}

#closeRegistration {
    color: var(--white);
    font-size: 25px;
    width: 30px;
    height: fit-content;
    position: absolute;
    text-align: center;
    top: 1.5%;
    right: 97%;
    border: .5px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#closeRegistration:hover{
    background: var(--backgroundClose);
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: 3s ease-in-out;
}

.LoginPage{
    max-width:30rem;
    position: fixed;
    height: fit-content;
    padding: 5px;
    color: var(--white);
    font-size: 15px;
    font-family:'Quintessential', cursive;
    text-align: center;
    background: var(--formBackground);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.registerPage{
    max-width:30rem;
    position: fixed;
    height: fit-content;
    padding: 5px;
    color: var(--white);
    font-size: 15px;
    font-family:'Quintessential', cursive;
    text-align: center;
    background: var(--formBackground);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.form input, select{
    width: 90%;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: none;
    font-family: 'Redressed', cursive;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

/*****STYLING INDEX PAGE *****/
.parent-dex{
    width: 100%;
    height: 100vh;
}

.parent-dex .parent{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 350px;
    padding: 1rem 4rem;
    height: 100%;
}

.parent .box{
    max-width: 400px;
    max-height: 300px;
    font-size: 18px;
    line-height: 2;
    font-family: 'Quintessential', cursive;
    color: var(--black);
    text-align: justify;
    margin: 5rem 1rem;
}

.mySlides{
    max-width: 450px;
    max-height: 470px;
    position: relative;
    margin-top:2rem;
}

.responsive{
    width: 100%;
    max-width: 450px;
    height:500px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.parent .slideshow-container .mySlides .text {
    position: absolute;
    top: 40%;
    color: var(--light-bg);
    text-decoration: none;
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 20px auto;
    font-weight: bolder;
    background: var(--background);
    z-index:1;
}

.box .learnMore{
    font-family: 'Redressed', cursive;
    font-size: 15px;
    width: 60px;
    text-decoration:underline;
    padding: 10px;
    color:var(--purple);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.learnMore:hover{
    color: var(--white);
    background-color:var(--purple);
    box-shadow:var(--card-box-shadow);
    text-decoration:none;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}


.logo{
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 0;
    padding: 12px 16px;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity:0.4}
    to {opacity:1}
}

@keyframes fade{
    from {opacity: 0.4;}
    to{opacity:1}
}


/*modal box styling*/
.modal{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10011;
    top: 0;
    width: 100%;
    height: 100%;
    background:var(--tag);
}
/*social media handle styling*/
.modal-content .modal-profile{
    width:30%;
    margin: 11% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    background: var(--formBackground);
    color: var(--light-bg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal #close{
    position: absolute;
    top: 22%;
    font-size: 30px;
    width:35px;
    height: fit-content;
    color: var(--white);
    right:42rem;
    margin: 10px 30px;
    font-weight: bold;
    border: .5px solid var(--white);
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


#close:hover{
    background: var(--backgroundClose);
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: 3s ease-in-out;
}
.modal-profile .modal-image img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: scale-down;
}
.modal-profile .modal-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-content .modal-profile h4, .modal-share{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.modal-share div{
    line-height: 2;
}

.modal-share .fas, span {
    margin-left: 1rem;
    font-size: 15px

}
.modal-share .fas span {
    margin-left: 1rem;
    color: var(--white);
    box-shadow: var(--box-shadow);
}
.modal-share .fas, .modal-share .fas span:hover {
    margin-left: 1rem;
    color: var(--pinky);
    box-shadow: var(--box-shadow);
}

/*Service Page styling*/
.Service-container{
    width: 100%;
    height: 100%;
}

.Service-container .box-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 360px;
    gap: 2.5rem;
    padding: 0 15rem;
    justify-items: center;
}


.images {
    position: relative;
    top:5%;
    overflow: hidden;
    box-shadow: var(--card-box-shadow);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.box-container1 .images .first{
    width:100%;
    height:100%;
}

.images .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    line-height: 1.5;
    color: var(--white);
    text-align: center;
}

.modal-card{
    position: absolute;
    bottom:0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    background-color:var(--cardbackground);
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
.images:hover .modal-card{
    left: 0;
}

.box-container1 .images #myBtn a:hover{
    color: var(--light-bg);
    background: var(--tag);
}

.image-title {
    text-align: center;
    margin-bottom: 4rem;
}

.box-container1 .images .back h4{
    margin-top: 10rem;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}

.back, h4, .description {
    text-align: center;
    font-size: 18px;
}
.card-foot{
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 15px;
    font-weight: 600;
}

.place-Order{
    padding: .5rem 5rem;
    border: 2px var(--white) solid;
    outline: none;
    max-width: 150px;
    text-decoration: none;
    background-color:blueviolet;
    color: var(--white);
    font-size: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.place-Order:hover {
    background-color:var(--white);
    color: var(--black);
    font-weight: 700;
    transition: .8s ease-in;
    -webkit-transition: .8s ease-in;
    -moz-transition: .8s ease-in;
    -ms-transition: .8s ease-in;
    -o-transition: .8s ease-in;
}
.tomiwa{
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Service-container .title{
    font-family: 'Cormorant Upright', serif;
    font-size: 30px;
    color: var(--black);
    margin-top: 3rem;
    margin-left: 1rem;
}

/*Place Order Page*/
.order-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

.orderList{
    position: absolute;
    top: 5%;
    width: 400px;
    padding:2rem;
    border-radius: 1rem;
    box-shadow: var(--card-box-shadow);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.tab{
    position: relative;
    height: 42px;
    top: 0;
}

.form__input{
    width: 100%;
    height: 80%;
    font-size: 1.5rem;
    border: 1px solid var(--black);
    outline: none;
    padding: .5rem;
    background: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.submit-order{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: #888;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.submit-order:hover{
    background-color: var(--submit-btn);
    color: var(--white);
    font-size: 600;
}
.field-label{
    position: absolute;
    left:1rem;
    top: 1rem;
    padding: 0 .25rem;
    font-size: var(--normal-font-size);
    background-color: var(--white);
    color: var(--black);
    transition: .3s;
}
.form__input:focus ~ .field-label, .form__input:not(:placeholder-shown).form__input:not(:focus)~.field-label{
    top: -.5rem;
    left: .8rem;
    font-size: 1rem;
    font-weight: 500;
    z-index: 10;
}

.form__input:focus{
    border: 2px solid var(--pinky);
}
/*****STYLING ABOUT PAGE*****/
.about-box{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:var(--pink1);
}

.about-content {
    text-align: justify;
    color: var(--black);
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 5rem 25rem;
}

/*****FOOTER STYLING FOR DESKTOP DEVICE*****/
.footing {
    height: fit-content;
}
.Service-container .footer-content{
    display: block;
    text-align: center;
    color:var(--pink);
    font-size: 18px;
    width: 100%;
    font-family: 'Quintessential', "cursive";
    padding: 5rem 20rem;
}
.footer-modal {
    bottom:0;
    width: 100%;
    background-color:var(--black);
}

.footing .footer-space .footer-modal .down-side{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 220px;
    gap: 2rem;
}
.footing .footer-space .footer-modal .down-side .share{
    margin-left: 2rem;
}
.down-side .share, .down-side .contact{
    display:grid; 
    padding: 5px;
}


.down-side .share a{
    margin-bottom:5px ;
    height: 40px;
    width: 40px;
    padding: 10px;
    color: var(--black);
    font-size: 20px;
    background: var(--light-color);
    border-radius: 8px;
    margin-right: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.footing .footer-space .footer-modal .down-side .share a span{
    margin-left: 4rem;
    padding: 5px;
    color: var(--white);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.down-side .share a span:hover {
    box-shadow: var(--box-shadow);
}
.down-side .share a:hover, .down-side .share a > span:hover, .down-side .share a:hover span{
    cursor: pointer;
    background: var(--pinky);
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.footing .footer-space .footer-modal .down-side .about{
    align-self: flex-start;
    margin-left: 8rem;
}
.contact .About-us {
    display: block;
    text-decoration: underline;
    font-size: 18px; 
    line-height: 2;
    color: var(--white);
}

.contact .About-us:hover{
    box-shadow: var(--box-shadow);
    color: var(--pinky);
}

.contact .fas {
    margin-bottom:5px;
    height: 40px;
    padding: 10px;
    color: var(--black);
    font-size: 20px;
    background: var(--light-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.footing .footer-space .footer-modal .down-side .contact .fas span {
    margin-left: 2rem;
    color: var(--black);
}

.contact .fas:hover, .contact .fas span:hover, .contact .fas:hover span{
    color: var(--white);
    background-color: var(--pinky);
}

.footing .footer-space .footer-modal .down-side .developer {
    align-self: flex-end;
    justify-self: end;
    margin: 0;
    height: fit-content;
}

.footing .footer-space .footer-modal .down-side .developer p{
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
    font-size: 15px;
    color:var(--white);
}


/***********MEDIA QUERY STARTS HERE************/

/**********MEDIA QUERY FOR MAX-WIDTH:768PX******/
@media only screen and (max-width: 768px) {
    .parent-dex .parent{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 350px;
        gap: 2rem;
        justify-items: center;
        padding: 0;
        height: auto;
    }

    .parent .box{
        max-width: 300px;
        max-height: 300px;
        font-size: 15px;
        line-height: 2;
        font-family: 'Quintessential', cursive;
        color: var(--black);
        text-align: justify;
        margin: 2rem;
    }

    .parent .box-down {
        margin-top: 0;
    }
    .mySlides{
        max-width: 300px;
        max-height: 500px;
        position: relative;
        margin: 0 1.5em 1.5em 1.5em;
    }

    .responsive{
        width: 270px;
        height: 350px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .parent .slideshow-container .mySlides .text {
        position: absolute;
        top: 60%;
        color: var(--light-bg);
        text-decoration: none;
        font-size: 50px;
        width: 100%;
        text-align: center;
        padding: 20px auto;
        font-weight: bolder;
        background: var(--background);
        z-index:1;
    }
    
    .box-top .learnMore {
        width: 8rem;
        padding: 5px;
        font-size: 12px;
    }
    /*3*Navigation bar styling*3*/
    .navbar .icon {
        margin-top: 0.8rem;
    }

    .navbar .icon div{
        top: 5%;
        font-size: 18px;
    }

    /****ABOUT PAGE STYLING*****/
    .about-content {
        text-align: justify;
        color: var(--black);
        font-family:'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        margin:2rem;
    }
    /****SERVICE CARD RESPONSIVENESS*******/
    .Service-container .box-container1{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 300px;
        padding: 0;
    }

    .images {
        position: relative;
        top:5%;
        overflow: hidden;
        max-width: 300px;
        box-shadow: var(--card-box-shadow);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    
    .images .first{
        width:100%;
        height:100%;
    }
    
    .images .back{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        color: var(--white);
    }
    
    .modal-card{
        position: absolute;
        bottom:0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: flex-end;
        background-color:var(--cardbackground);
        transition:.5s;
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -ms-transition:.5s;
        -o-transition:.5s;
    }
    .images:hover .modal-card{
        left: 0;
    }
    
    .box-container1 .images #myBtn a:hover{
        color: var(--light-bg);
        background: var(--tag);
    }
    
    .image-title {
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .box-container1 .images .back h4{
        margin-top: 1rem;
        font-size: 18px;
        font-family: 'Cinzel', serif;
    }
    
    .back, h4, .description {
        text-align: center;
        font-size: 15px;
    }
    .card-foot{
        text-align: center;
        font-family: 'Cormorant Upright', serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 4rem;
    }
    
    .image-title .place-Order{
        padding: .5rem 2rem;
        border: 2px var(--white) solid;
        outline: none;
        margin-bottom: 4rem;
        text-decoration: none;
        background-color:blueviolet;
        color: var(--white);
        font-size: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    
    .image-title .place-Order:hover {
        background-color:var(--white);
        color: var(--black);
        font-weight: 700;
        transition: .8s ease-in;
        -webkit-transition: .8s ease-in;
        -moz-transition: .8s ease-in;
        -ms-transition: .8s ease-in;
        -o-transition: .8s ease-in;
    }

/*****FOOTER STYLING *****/
    .footing .footer-space .footer-modal .down-side{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 180px;
        gap: .1rem;
    }

    .footing .footer-space .footer-modal .down-side .share{
        margin-left:1rem ;
        height: 0;
    }
    .footing .footer-space .footer-modal .down-side .share a{
        margin:2px;
        height: 30px;
        width: 30px;
        text-align: center;
        color: var(--black);
        font-size: 18px;
        padding: 5px;
    }
    
    .footing .footer-space .footer-modal .down-side .number h3{
        padding-left: .7rem;
    }
    .footing .footer-space .footer-modal .down-side .number{
        margin-left:.8rem;
        margin-right: 1rem;
        padding-left: 0;
    }
    
    .footing .footer-space .footer-modal .down-side .about{
        margin:6rem 0 0 .8rem;
    }

    .footing .footer-space .footer-modal .down-side .developer{
        margin-left: 8rem;
    }
   
    .Service-container .footer-content{
        padding: 5rem 2rem;
    }
    .footer-modal{
        bottom: 0;
        width: 100%;
        background-color:var(--black);
    }
}
/******NAVBAR, MENU RESPONSIVENESS********/
@media only screen and (max-width:800px){
    .navbar{
        height:50px;
        width: 100%;
    }

    .navbar .nav-btn{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar .nav-btn label{
        display: inline-block;
        width: 55px;
        height: 50px;
        padding: 15px;
    }

    .navbar .nav-btn label span{
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid var(--white);
    }

    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label{
        background-color: var(--pink);
    }

    .navbar .nav-link{
        position: absolute;
        display: block;
        width:60%;
        background: var(--pink);
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        float: right;
        right: 0;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        z-index: 1001;
    }

    .navbar .nav-link a{
        display: block;
        color: var(--white);
        width: 100%;
        padding-left: 30px;
        font-weight: bolder;
    }

    .navbar .nav-link a:hover{
        color: var(--black);
        background-color:var(--white);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    /*when nav toggle button is not checked*/
    .navbar #nav-check:not(:checked) ~ .nav-link{
        height: 0;
    }

   /*when nav toggle button is checked*/
    .navbar #nav-check:checked ~ .nav-link{
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

}
