@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright:wght@300&family=Gideon+Roman&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,500&family=Quintessential&family=Redressed&family=Satisfy&display=swap');

*{
    /*font-family: 'Cinzel', serif;*/
    /*font-family: 'Cormorant Upright', serif;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quintessential', cursive;
    font-family: 'Redressed', cursive;
    /*font-family: 'Satisfy', cursive;*/
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /*background: url(images/Bground3.jpg);*/
    background-position: cover cover;
    background-blend-mode: var(--pinky);
}

html{
    font-size: 62.5%;
}

:root{
    --black:rgb(8, 8, 8);
    --background:rgba(7, 6, 6, 0.2);
    --footerBackground:rgba(2, 1, 2, 0.8);
    --formBackground:rgba(7, 6, 6, 0.5);
    --backgroundClose: rgba(245, 245, 250, 0.4);
    --white:#fff;
    --tag:rgba(30, 20, 20, 0.5);
    --blue:blue;
    --pinky:hotpink;
    --pink:rgba(123, 73, 123, 0.9);
    --pink1:rgba(123, 73, 123, 0.5);
    --box-shadow:0 5px 10px rgba(0,0,0.1);
    --box-shadow2:0 5px 10px hsl(0, 1%, 73%);
    --card-box-shadow: 0 10px 25px rgba(92,99,105,0.5);
    --light-color:hsla(166, 17%, 85%, 0.993);
    --light-bg:#eee;
    --purple:purple;
    --contact:rgba(8, 176, 206, 0.9);
    --submit-btn:lightgreen;
}

/*Styling navigation bar Menu*/

.navbar{
    height: 80px;
    padding-bottom: 10px;
    width: 100%;
    background: var(--purple);
    z-index: 1000;
    box-shadow: var(--box-shadow2);
}

.navbar .nav-link{
    float: right;
    z-index: 1000;
}

.navbar .nav-link a{
    position: relative;
    top: 12px;
    padding: 10px;
    margin-right: 30px;
    font-size: 22px;
    font-family: 'Cormorant Upright', serif;
    color: var(--white);
}

.navbar .nav-link a:hover{
    color:aqua;
}

/*Navigation bar responsiveness. toggle button*/

.navbar #nav-check, .navbar .nav-btn{
    display: none;
}
/*Buttons for Forms and User Private page*/
.navbar .icon {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 2rem;
    gap: 10px;
    top:5px;
}
.navbar .icon div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12px;
    height: 4rem;
    width: 4rem;
    line-height: 1rem;
    padding: 10px;
    background:var(--background);
    color:var(--white);
    font-size: 2.8rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}


.form-modal{
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:var(--tag);
    z-index: 10200;
}

.form-modal #closeAccount{
    color: var(--white);
    font-size: 25px;
    width:30px;
    height: fit-content;
    position: absolute;
    text-align: center;
    top: 1.5%;
    right: 97%;
    border: .5px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.form-modal #closeAccount:hover{
    background: var(--backgroundClose);
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: 3s ease-in-out;
}
.LoginPage{
    width:30rem;
    position: fixed;
    height: fit-content;
    padding: 5px;
    color: var(--white);
    font-size: 15px;
    font-family:'Quintessential', cursive;
    text-align: center;
    background: var(--formBackground);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.registerPage{
    width:30rem;
    position: sticky;
    height: fit-content;
    padding: 5px;
    right: 2rem;
    color: var(--white);
    font-size: 15px;
    font-family:'Quintessential', cursive;
    text-align: center;
    background: var(--formBackground);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.active{
    top: -110%;
}

.active{
    top: -110%;
}
.form input, select{
    width: 90%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: none;
    font-family: 'Redressed', cursive;;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*Navigation Bar responsiveness*/
@media (max-width: 700px) {

    .navbar{
        height:50px;
        width: 100%;
    }

    .navbar .nav-btn{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar .nav-btn label{
        display: inline-block;
        width: 55px;
        height: 50px;
        padding: 15px;
    }

    .navbar .nav-btn label span{
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid var(--white);
    }

    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label{
        background-color: var(--pink);
    }

    .navbar .nav-link{
        position: absolute;
        display: block;
        width:60%;
        background: var(--pink);
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        float: right;
        right: 0;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        z-index: 1001;
    }

    .navbar .nav-link a{
        display: block;
        color: var(--white);
        width: 100%;
        padding-left: 30px;
        font-weight: bolder;
    }

    .navbar .nav-link a:hover{
        color: var(--black);
        background-color:var(--white);
    }
    /*when nav toggle button is not checked*/
    .navbar #nav-check:not(:checked) ~ .nav-link{
        height: 0;
    }

   /*when nav toggle button is checked*/
    .navbar #nav-check:checked ~ .nav-link{
        height: calc(100vh - 120px);
        overflow-y: auto;
    }

    .navbar .icon div{
        height: 3rem;
        width: 3rem;
        line-height: 1rem;
        padding: 10px;
        font-size: 15px;
        position: relative;
        top: 5px;
    }
}
/*Login and Registration page responsiveness*/

@media (max-width:700px){
    .form-modal{
    display:none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:28px;
    height: 138vh;
    }

    .form-modal #closeAccount{
        color: var(--white);
        font-size: 18px;
        font-weight: 500;
        width:23px;
        height: fit-content;
        position: absolute;
        text-align: center;
        top: 1%;
        right: 90%;
        border: .5px solid var(--white);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .LoginPage{
        display: none;
        right: 20rem;
        top:10%;
    }
    .form{
        margin: 0 2rem;
    }
    .registerPage{
        position: sticky;
        margin-bottom:45rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .registerPage .register .gender{
        display: flex;
        padding-left: 5px;
        margin-left: 10px;
    }

    .registerPage .register .gender input{
        width: 22px;
        margin: 10px;
    }

    .registerPage .register .gender input span{
        width: 22px;
        margin-top: 20px;
    }
}


/*styling background image slide*/
.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem;
    gap: 20px;
    height: 100vh;
}

.parent .container{
    max-width: 500px;
}

.parent .container .intro .box{
    box-shadow:var(--box-shadow);
    border-radius: 5px;
    /*border: 2px var(--pinky) solid;*/
    background-color: rgb(0,0,0);
    background-color:var(--background);
}
.parent .container .intro .box p{
    padding: 15px;
    font-size: 15px;
    font-family: 'Quintessential', cursive;
    color: var(--light-bg);
    overflow-wrap: break-word;
    text-align: justify;
}
.parent .container .intro .box p a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: var(--pinky);
}

.parent .slideshow-container {
    max-width: 500px;
    position: relative;
    z-index: -1;
}
.parent .slideshow-container .mySlides {
    max-width: 800px;
    height: 500px;

}

.parent .slideshow-container .mySlides .responsive{
    width: 500px;
    height: 500px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.parent .slideshow-container .mySlides .text {
    position: absolute;
    top: 0;
    color: var(--light-bg);
    text-decoration: underline;
    font-size: 50px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 20px auto;
    font-weight: bolder;
    background: var(--background);
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    z-index:1;
}

@media (min-width: 700px) {
    .parent .container .intro {
        margin-top: 20px;
        max-width: 500px;
    }
    .parent .slideshow-container {
        max-width: 500px;
        margin: 20px;
    }
    .parent .slideshow-container .mySlides .responsive{
        max-width: 500px;
        height: 500px;
    }
    .parent .slideshow-container .mySlides .text {
        width: 100%;
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .parent .container .intro {
        margin-top: 20px;
        width: 400px;
    }
    .parent .slideshow-container {
    max-width: 400px;
    max-height: 320px;
    margin: 10px;
}
    .parent .slideshow-container .mySlides .responsive{
        max-width: 400px;
        max-height: 310px;
    }
    .parent .slideshow-container .mySlides .text {
        width: 100%;
        font-size: 30px;
    }
}

@media (max-width: 350px) {
    .parent .container .intro {
        margin-top: 20px;
        width: 250px;
    }
    .parent .slideshow-container {
        max-width: 250px;
        margin-top: 40px;
    }
    .parent .slideshow-container .mySlides .responsive{
        max-width: 250px;
        height: 500px;
    }
    .parent .slideshow-container .mySlides .text {
        width: 100%;
    }
}
*/
.logo{
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 0;
    padding: 12px 16px;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity:0.4}
    to {opacity:1}
}

@keyframes fade{
    from {opacity: 0.4;}
    to{opacity:1}
}

.Service-container{
    width: 100%;
    height: 420vh;
}

/*modal box styling*/
.modal{
    display: none;
    position: fixed;
    z-index: 10011;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/*social media handle styling*/
.modal-content .modal-profile{
    width:30%;
    margin: 11% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    background: var(--contact);
    color: var(--light-bg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal .modal-content .close{
    font-size: 30px;
    width:35px;
    height: fit-content;
    color: var(--white);
    right:1.5rem;
    position: absolute;
    top: 10px;
    margin: 10px 30px;
    font-weight: bold;
    border: .5px solid var(--white);
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.modal .modal-content .close:hover{
    background: var(--backgroundClose);
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: 3s ease-in-out;
}
.modal-profile .modal-image img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: scale-down;
}
.modal-profile .modal-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-content .modal-profile h3, .modal-share{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.modal .modal-content .modal-profile .modal-share a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--black);
    background: var(--light-color);
    font-size: 25px;
    line-height: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.modal .modal-content .modal-profile .modal-share a:hover{
background: var(--pinky);
color: var(--white);
box-shadow: var(--box-shadow);
}

/*Modal box Responsiveness of smaller media*/

@media(max-width:700px){
    .modal-content .modal-profile{
        width:70%;
        margin: 30% auto;
    }

    .modal .modal-content .close{
        float: right;
        top: 0;
        margin: 5px 5px;
        font-size: 28px;
        font-weight: bold;
        color: var(--white);
    }

    .modal .modal-content .modal-profile h3{
        font-size: 15px;
        word-wrap: break-word;
        text-align: center;
    }

    .modal .modal-content .modal-profile .modal-share{
        padding: 5px;
    }

    .modal .modal-content .modal-profile .modal-share a{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: var(--white);
        background: var(--light-color);
        font-size: 15px;
        text-align: center;
        padding: 5px;
        margin: auto;
    }
}

/*Service Page styling*/
.box-container1{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin:1rem 27rem ;
    perspective: 8000px;
    cursor: pointer;
}

.box-container1 .images{
    position: relative;
    width: 240px;
    height:330px;
    margin:1rem 2rem;
    color: var(--black);
    font-size: 20px;
    background: var(--white);
    box-shadow: var(--card-box-shadow);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transform-style: preserve-3d;
     transition: transform 3s;
    -webkit-transition: transform 3s;
    -moz-transition: transform 3s;
    -ms-transition: transform 3s;
    -o-transition: transform 3s;
}

.box-container1 .images .first{
    width: 240px;
    height:270px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

.box-container1 .images .image-title{
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.box-container1 .images #myBtn a:hover{
    color: var(--light-bg);
    background: var(--tag);
}



.box-container1 .images .front{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box-container1 .images .front .flip{
    position:absolute;
    margin: 2rem;
    cursor: pointer;
    font-size: 10px;
    width:75px;
    padding: 5px;
    background: none;
    border: 2px var(--white) solid;
    color: var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.box-container1 .images .back .flip{
    margin: .7rem;
    cursor: pointer;
    font-size: 10px;
    width:75px;
    padding: .2rem;
    background: none;
    border: 2px var(--black) solid;
    color: var(--black);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.box-container1 .images .back .flip:hover{
    background: var(--black);
    color: var(--white);
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    -o-transition:.5s ease-in;
}
.box-container1 .images .back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    height: fit-content;
    width: 100%;
    font-size: 14px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    padding: 1rem 2rem; 
    top: 0;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.place-Order{
    padding: .5rem;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.back .place-Order{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    margin-left: 7rem;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.place-Order:hover{
    background-color:var(--purple) ;
}

.place-Order a{
    color: var(--white);
    font-size: 10px;
}

.images.rotated{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

.box-container1 .images .back h3{
    margin-top: 7px;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
}

.box-container1 .images .back .description{
    text-align: center;
}

.card-foot{
    margin-top: 5px;
    text-align: center;
}

.tomiwa{
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.title{
    font-family: 'Cormorant Upright', serif;
    font-size: 40px;
    color: var(--black);
    margin-bottom: 5px;
    padding: 0 0px 0 35px;
}
hr{
    margin: 0 35px;
}
@media(max-width:700px){
    .box-container1 .images .back{
    font-size: 15px;
    }

    .back .place-Order{
        max-width:100px;
        padding: .5rem;
        margin: 4rem 6rem;
    }
}
@media(max-width:850px) {

    .box-container1 .images #myBtn .fab{
        font-size:10px;
    }

}

@media(max-width:700px) and (orientation: landscape) {
    .Service-container{
        width: 100%;
        height: 100vh;
        z-index: -1;
    }
    
    .title{
        padding: 0 0px 0 25px;
    }
    hr{
        margin: 0 25px;
    }
    .box-container1 .images .first{
        width: 500px;
        height: 80%;
    }
    .box-container1{
        display: flex;
        flex-wrap: wrap;
    }
    .box-container1 .images #myBtn .fab{
        font-size:10px;
    }

}
@media(max-width:500px){
    .Service-container{
        max-width: 500px;
        height: 100vh;
        z-index: -1;
    }
    .title{
        font-size: 25px;
        margin-top: 1px;
        padding: 0 0 0 11px;
    }
    hr{
        margin: 0 12px;
    }

    .box-container1{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .box-container1 .images{
        max-width: 350px;
        height:250px;
        margin:3rem 3rem 3rem 12rem;
        
    }

    .box-container1 .images .first{
        max-width: 240px;
        height:200px;
    }
    
    .box-container1 .images .front .flip{
        margin: .5rem;
        cursor: pointer;
        font-size: 10px;
        width:55px;
        padding: 2px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .box-container1 .images .back .flip{
        position: absolute;
        left: 2%;
        cursor: pointer;
        font-size: 8px;
        width:50px;
        padding: 1.5px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .box-container1 .images .back{
        height: 230px;
        width: 100%;
        font-size: 10px;
        padding: 0 2rem; 
    }

    .box-container1 .images .back h3{
        margin-top: 25px;
        font-size: 12px;
    }
    .box-container1 .images .front .image-title{
        text-align: center;
        font-size: 10px;
        line-height: 1.8;
    }
    .box-container1 .images .back .image-title{
        text-align: center;
        font-size: 10px;
        padding-bottom: 20px;
    }
    .box-container1 .images .back .image-title .place-Order{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 2.2rem;
    }

    .place-Order{
        padding: 2px;
        width: 68px;
        font-size: 12px;
    }
}


/*Place Order Page*/
.order-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: var(--white);
}

.orderList{
    width: 360px;
    padding:2rem;
    border-radius: 1rem;
    box-shadow: var(--card-box-shadow);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.tab{
    position: relative;
    height: 42px;
    margin-bottom: 1.2rem;
    top: 0;
}

.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: 1px solid var(--black);
    outline: none;
    padding: .5rem;
    background: none;
    z-index: 1;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.submit-order{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: #888;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.submit-order:hover{
    background-color: var(--submit-btn);
    color: var(--white);
    font-size: 600;
}
.field-label{
    position: absolute;
    left:1.8rem;
    top: 1.5rem;
    font-size: 1.3rem;
    padding: 0 .25rem;
    background-color: var(--white);
    color: var(--black);
    transition: .3s;
}
.form__input:focus ~ .field-label, .form__input:not(:placeholder-shown).form__input:not(:focus)~.field-label{
    top: -.5rem;
    left: .8rem;
    font-size: 1rem;
    font-weight: 500;
    z-index: 10;
}

.form__input:focus{
    border: 2px solid var(--pinky);
}
/*Styling About Page*/
.box-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box-container .about p{
    text-align:justify;
    color: var(--black);
    font-family:'Open Sans', sans-serif;
    font-size: 25px;
    padding: 10px;
    line-height: 1.5;
    margin: 5rem;
}

@media (max-width:700px) {
    .box-container .about p{
        font-size: 15px;
    }
}

/*Footer styling for default device view*/
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:10px 20px 23px 5px;
    background: var(--footerBackground);
    z-index: 1000;
}

.down-side{
    display:flex;
    height: 45px;
    justify-content: space-between;
}
.down-side .share{
    width: fit-content;
    margin:10px 0 10px 10px;
}
.down-side .share a{
    height: 40px;
    width: 40px;
    padding: 10px;
    color: var(--black);
    font-size: 20px;
    background: var(--light-color);
    border-radius: 8px;
    margin-right: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.down-side .share a:hover{
    cursor: pointer;
    opacity: 1;
}

.down-side .developer{
    color:var(--white);
    padding: 20px 0;
    margin-right: 0 ;
}

@media (max-width:500px) {
    .down-side .share{
        margin:22px 0;
    }
    .down-side .share a{
        display: inline;
        margin: 0 0 0 5px;
        height: 30px;
        width: 30px;
        text-align: center;
        color: var(--black);
        font-size: 15px;
    }

}

@media (max-width:300px) {
    .down-side .share{
        margin:22px 0;
    }
    .down-side .share a{
        display: inline;
        margin: 0 0 0 5px;
        height: 30px;
        width: 30px;
        text-align: center;
        color: var(--black);
        font-size: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}